<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9SJC0R9shETRqbKGtv10uNyUwA0wNQ0E</string>
	<key>GCM_SENDER_ID</key>
	<string>919536353657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.advancedlessons</string>
	<key>PROJECT_ID</key>
	<string>chatapp-bbfca</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-bbfca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919536353657:ios:3f1cd8aee099d9328d2fa8</string>
</dict>
</plist>